@import "./base/variables";
@import "./base/fonts";
@import "./base/zeroing";
@import "./base/mixins";

@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/_webspeech";

._container {
  max-width: $width + 30px;
  margin: 0 auto;
  padding: 0px 15px;
}
.wrapper {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

@import "./base/media";
